version: "3.9"

services:
  web:
    build: ./nginx
    container_name: nginx_web
    ports:
      - "80:80"
    volumes:
      - ./src:/usr/share/nginx/html
    depends_on:
      - db

  db:
    image: mariadb:10.6
    container_name: mariadb_db
    restart: always
    env_file:
      - .env
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - internal

volumes:
  mariadb_data:

networks:
  internal:
